@media (max-width: 824px) {
    :root {
        --dynamicWidth: 340px;
    }

    .titleYourQuizzes {
        justify-content: space-between;
    }
}
@media (min-width: 825px) and (max-width: 1178px) {
    :root {
        --dynamicWidth: 694px;
    }
}
@media (min-width: 1179px) {
    :root {
        --dynamicWidth: 1048px;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header > p {
    font-size: 37px;
    font-weight: 700;
    color: white;
}

/* main */

main {
    margin-top: 69px; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* yourQuizzesEmpty */

.yourQuizzesEmpty {
    width: var(--dynamicWidth);
    height: 181px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;

    margin-top: 31px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: all 0.3s;

    cursor: default;
}
.yourQuizzesEmpty:hover {
    background-color: #f3f3f3;
}
.yourQuizzesEmpty:active {
    background-color: #e7e7e7;
}

.yourQuizzesEmpty > p {
    font-size: 20px;
    color: #B9B9B9;
    width: 250px;
    text-align: center;
}

.yourQuizzesEmpty button {
    width: 151px;
    height: 40px;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    background-color: #FAFAFA;

    font-size: 21px;
    color: #EC362D;

    cursor: pointer;
    transition: all 0.3s;
}
.yourQuizzesEmpty:hover button {
    height: 45px;
    width: 160px;
}

/* yourQuizzes and allQuizzes */

.allQuizzes, .yourQuizzes {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleYourQuizzes {
    display: flex;
    align-items: center;
    width: var(--dynamicWidth);
}



.titleYourQuizzes ion-icon {
    font-size: 30px;
    color: #EC362D;
    cursor: pointer;
}

.selectModel {
    background-color: #eee;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #999;
    max-width: 150px;
}

.yourQuizzes p {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-right: 10px;
}

.allQuizzes > p {
    width: var(--dynamicWidth);
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.quizzes {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.quizz {
    margin: 7px;
    position: relative;
    overflow: hidden;
    width: 340px;
    height: 181px;
    cursor: pointer;
}

.gradient {
    position: absolute;
    background: linear-gradient(#FFFFFF00, #00000030, #000000FF);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quizz > a > p {
    position: absolute;
    bottom: 0;
    width: 300px;
    margin: 13px 20px;
    font-size: 19px;
    color: white;
}

.quizz img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;
}



.yourQuizzOptions {
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 10;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.yourQuizzOptions > div {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #EC362D;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 5px;
}
.yourQuizzOptions > div:hover {
    background-color: #c92c24;
}

.yourQuizzOptions > div > * {
    color: white;
}

.yourQuizzOptions > div > ion-icon {
    font-size: 22px;
}
.yourQuizzOptions > div > p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}
.editQuizzButton {
    border-radius: 10px 0 0 0;
}
.deleteQuizzButton {
    border-radius: 0 0 0 10px;
}
.deleteQuizzButton p {
    display: none;
}
.deleteQuizzButton.expanded p {
    display: block;
}
.expanded {
    border-radius: 10px 0 0 10px;
}



/* play */

@media (max-width: 760px) {
    :root {
        --widthQuestionBox: 100vw;
    }
}
@media (min-width: 761px) {
    :root {
        --widthQuestionBox: 760px;
    }
}

.play {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 42px;
}

.headerPlay {
    position: relative;
    width: 100%;
    height: 142px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.headerPlay > p {
    z-index: 1;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 19px;
}

.headerPlay > img {
    position: absolute;
    width: 100%;
    height: 142px;
    object-fit: cover;
}

.dark {
    position: absolute;
    background: #00000099;
    width: 100%;
    height: 142px;
}

.questionBox, .resultBox {
    margin-top: 42px;
    
    width: var(--widthQuestionBox);
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.question, .resultTitle {
    margin-top: calc(0.05 * var(--widthQuestionBox));
    
    width: calc(0.9 * var(--widthQuestionBox));
    height: calc(0.18 * var(--widthQuestionBox));

    background-color: #434CA0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.question > p, .resultTitle > p {
    color: white;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding: 0 50px;
}

.answers, .result {
    margin-top: calc(0.05 * var(--widthQuestionBox));
    width: calc(0.9 * var(--widthQuestionBox));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answer {
    width: calc(0.435 * var(--widthQuestionBox));
    height: calc(0.28 * var(--widthQuestionBox));

    margin-bottom: calc(0.05 * var(--widthQuestionBox));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.answer > img {
    width: calc(0.435 * var(--widthQuestionBox));
    height: calc(0.23 * var(--widthQuestionBox));
    object-fit: cover;
}

.answer > p {
    width: calc(0.435 * var(--widthQuestionBox));
    font-size: 20px;
    font-weight: 700;
}

.right > p {
    color: green;
}

.wrong > p {
    color: red;
}

.bright {
    width: calc(0.435 * var(--widthQuestionBox));
    height: calc(0.23 * var(--widthQuestionBox));
    position: absolute;
    background: #FFFFFF00;
}

.notSelected .bright {
    background: #FFFFFF99;
}

@media (max-width: 649px) {
    :root {
        --rateResult: 1;
    }
}
@media (min-width: 650px) {
    :root {
        --rateResult: 0.48;
    }
}

.resultBox {
    padding-bottom: calc(0.05 * var(--widthQuestionBox));
}

.result img {
    width: calc(0.9 * var(--widthQuestionBox) * var(--rateResult));
}

.result p {
    margin-top: calc(0.05 * var(--widthQuestionBox) * var(--rateResult));
    width: calc(0.9 * var(--widthQuestionBox) * var(--rateResult));
    font-size: 19px;
    font-weight: 700;
}

.restartQuiz {
    margin-top: 57px;
    width: 260px;
    height: 52px;
    background-color: #EC362D;
    font-size: 21px;
    color: white;
    border: none;
    border-radius: 15px;
}

.comeBackHome {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #00000000;
    font-size: 21px;
    color: #818181;
    border: none;
}

/* edit */

.edit {
    max-width: 600px;
    width: 100%;
}

.editPage {
    padding: 60px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editPage > h2 {
    font-size: 23px;
}

.editPage button {
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    padding: 17px 40px;
    cursor: pointer;
}
.nextStep-button {
    color: white;
    background-color: #EC362D;
    margin-bottom: 10px;
}
.goHome-button {
    background-color: rgba(0,0,0,0);
    color: #818181;
}

.editPage-content {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.editSection {
    padding: 20px 17px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.editSection h3 {
    font-size: 20px;
}

.editSection-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editSection-header ion-icon{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    transition: all 0.1s;
    cursor: pointer;
}
.editSection-header ion-icon:hover {
    background-color: rgb(231, 231, 231);
}

.editSection-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.editSection-group-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editSection-group-wrapper > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.editSection-group-wrapper p {
    width: 100%;
    color: #EC362D;
    margin-top: 3px;
    font-size: 16px;
    display: none;
}

.editSection-group-wrapper input,
.editSection-group-wrapper textarea {
    font-size: 19px;
    padding: 14px 11px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-family: 'Roboto', 'sans-serif';
}
.editSection input::placeholder,
.editSection textarea::placeholder {
    font-style: italic;
    color: #BABABA;
}

.showError > p {
    display: block;
}
.showError > input,
.showError >  textarea {
    background-color: #FFE9E9;
}


.editSection textarea {
    height: 177px;
    resize: none;
}

.closed > .editSection-group {
    display: none;
}



/* Utilitários */

.hidden {
    display: none;
}